<h1>hello from sayings/index</h1>

<div>
<h3>Enter Your Saying Here</h3>
  <%= simple_form_for @saying do |f| %>
    <%= f.input :saying %>
    <%= f.input :author %>
    <%= f.button :submit %>
  <% end %>
</div>