<div>
  <h1>Enter Your Saying Here</h1>
  <%= simple_form_for @saying do |f| %>
    <%= f.input :saying %>
    <%= f.input :author %>
    <br />
    <%= f.submit 'Create', class: 'btn btn-primary' %>
  <% end %>
</div>