@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Dosis:400,500|Francois+One');

h1 {
    font-family: 'Dosis', sans-serif;
    margin-bottom: 0;
    color: #713C9F;
    padding-bottom: 10px;
}

h2 {
    font-family: 'Dosis', sans-serif;
    color: #3C9F71;
}


.top-container {
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 600px;

}

.description {
    font-family: 'Francois One', sans-serif;
    font-size: 17px;
    text-align: center;
    padding-top: 20px;
}

.dark {
    height: 2.5px;
    background-color: #929292;
    width: 300px;
}